
<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <% if @cocktail["strDrinkThumb"] %>
        <img src="<%= @cocktail['strDrinkThumb'] %>" alt="<%= @cocktail['strDrink'] %>" class="img-fluid">
      <% end %>
    </div>
    <div class="col-md-8">
      <h2 class="card-title"><%= @cocktail["strDrink"] %></h2>
      <p><strong>Category:</strong> <%= @cocktail["strCategory"] %></p>
      <p><strong>Glass:</strong> <%= @cocktail["strGlass"] %></p>
      <p><strong>Alcoholic filter:</strong> <%= @cocktail["strAlcoholic"] %></p>
      <p><strong>Instructions:</strong> <%= @cocktail["strInstructions"] %></p>
    </div>
  </div>

</div>