<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cocktailsdb" %></title>
      <nav>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'About', about_path %>
      </nav>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <body>
    <%= yield %>
  </body>
</html>
