<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CocktailsDB</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= root_path %>">CocktailsDB</a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'About', about_path, class: 'nav-link' %></li>
      </ul>

    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search cocktails" %>
      <div class="input-group-append">
        <%= submit_tag "Search", class: "btn btn-outline-success" %>
      </div>
    </div>

  </nav>

    <%= yield %>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</body>
</html>
